.logo {
    width: 65px;
    margin: 25px 35px;
}

h1 {
    font-size: 200px;
    color: white;
    margin: 150px 0px -20px;
}

h3 {
    color: white;
    font-weight: 300;
}

.btns {
    margin-top: 130px;
}

.btns .btn {
    font-size: 20px;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    margin: 0px 5px;
    width: 150px;
}
