$lightBlue: rgb(110, 180, 231);
$mediumBlue: rgb(0, 155, 222);
$darkBlue: rgb(50, 136, 199);
$gold: rgb(255, 184, 25);

.signup {
    margin: 20px 25px;
    font-size: 20px;
    color: $darkBlue;
}

a:hover {
    color: $lightBlue;
}

.loginInputArea {
    width: 30%;
    margin: auto;
    margin-top: 115px;
    .logo {
        width: 100px;
        margin-bottom: 37px;
    }
    input {
        background-color: transparent;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    label {
        color: white;
        font-size: 18px;
    }
    button {
        width: 250px;
        margin: auto;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 700;
        background-color: rgba(0, 155, 222, .75);
        color: white;
        border: 1px solid white;
    }
    button:hover {
        background-color: transparent;
        font-size: 20px;
        color: $mediumBlue;
        border: 1px solid $mediumBlue;
    }
}
